extends layout

block content
  h1= title
    form(method='post' action='/')
            span.label Enter Jokes Here
            br
            input(type="text", name="jokes")
            br
            input(type="submit", value="add")

    
  h1 #{name}